/* Display */
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none;
}
.hidden-xs,
.hidden-sm,
.hidden-md,
.hidden-lg {
  display: block;
}

/* Float Attributes */
.float-l {
  float: left;
}

.float-r {
  float: right;
}

.cf {
  clear: both;
}

/* Font And Text Align */
.text-center {
  text-align: center;
}

.h1 {
  font-size: 2em;
}

/* Custom Divs */

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* Imgs */
.responsive-img {
  width: 100%;
}
.img-circle {
  border-radius: 50%;
}
.img-thumbnail {
  padding: 3px;
  background-color: #fff;
  border: 1px solid #ccc;
}

/* Lists */
.list-unstyling {
  list-style: none;
}
/* Meadia Sizes */

@media (max-width: 767px) {
  .container {
    width: 90%;
  }
  .visible-xs {
    display: block;
  }
  .hidden-xs {
    display: none;
  }
  .responsive-paragraph {
    text-align: center;
    font-size: 18px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 750px;
  }

  .visible-sm {
    display: block;
  }

  .hidden-sm {
    display: none;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 970px;
  }

  .visible-md {
    display: block;
  }
  .hidden-md {
    display: none;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }

  .visible-lg {
    display: block;
  }
  .hidden-lg {
    display: none;
  }
}
